<div class="read-more">

<div class="read-more-list">


<div class="list-item">
{% if page.next %}
<h4><a href="{{ site.url }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></h4>
<span>发表时间 {{ post.date | date: "%B %d, %Y" }}</span>
{% else %}
<h4><span>以到世界尽头</span></h4>
{% endif %}
</div>

<div class="list-item">
{% if page.previous %}
<h4><a href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a></h4>
<span>发表时间 {{ post.date | date: "%B %d, %Y" }}</span>
{% else %}
<h4><span>以到世界尽头</span></h4>
{% endif %}
</div><!-- /.list-item -->



</div>

</div><!-- /.read-more -->


