<!--
<div class="social-share">
  <ul class="socialcount socialcount-small inline-list">
    <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
    <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
    <li class="googleplus"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus"><span class="count"><i class="fa fa-google-plus-square"></i> +1</span></a></li>
    <li class="weibo"><a href="http://service.weibo.com/share/share.php?title={{page.title}}&url={{ site.url }}{{ page.url }}" title="Share on Weibo"><span class="count"><i class="fa fa-weibo"></i> 新浪微博</span></a></li>
    <li class="tencent-weibo"><a href="http://share.v.t.qq.com/index.php?c=share&a=index&title={{page.title}}&url={{ site.url }}{{ page.url }}" title="Share on Tencent-Weibo"><span class="count"><i class="fa fa-tencent-weibo"></i> 腾讯微博</span></a></li>
    <li class="weixin"><a href="http://service.weibo.com/share/share.php?title={{page.title}}&url={{ site.url }}{{ page.url }}" title="Share on Weibo"><span class="count"><i class="fa fa-weixin"></i> 微信</span></a></li>
  </ul>
</div--><!-- /.social-share -->

<!-- JiaThis Button BEGIN -->

<div class="jiathis_style">
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_weixin"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_fb"></a>
<a class="jiathis_button_twitter"></a>
<a class="jiathis_button_googleplus"></a>
<a href="http://www.jiathis.com/share?uid=2013088" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
  data_track_clickback:true,
  summary:"",
  shortUrl:false,
  hideMore:true
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2013088" charset="utf-8"></script>
<!-- JiaThis Button END -->

